*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    background: #240A34;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    color: white;
}

.input-food {
    width: 500px;
    height: 50px;
    border-radius: 30px;
    background: #240A34;
    border: 1px solid;
    color: white;
    font-size: 20px;
    outline: none;
    text-align: center;
}

.input-food:focus {
    border-color: #9694FF;
    /*border-width: 2px;*/
}

.serving-section {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2rem;
    justify-content: center;
    column-gap: 1rem;
}

.serving-input {
    display: flex;
    flex-direction: column;
}

.serving-section>.serving-input>label{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.serving-section>.serving-input>.input-serving{
    align-self: center;
    width: 230px;
    height: 50px;
    border-radius: 30px;
    background: #240A34;
    border: 1px solid;
    color: white;
    font-size: 20px;
    outline: none;
    text-align: center;
}

.scale-factor {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    padding-bottom: 2rem;
}

#scale {
    color: white;
}

#scale-num  {
    color: white;
}

#ingredients-list {
    height: auto;
}

.ingredients {
    position: relative;
    width: 600px;
    height: auto;
    background: white;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 1rem;
    margin-bottom: 100px;

}

.ingredients-title {
    position: relative;
    top: 20px;
    background: white;
    width: 300px;
    left: 20px;
}

.ingredient-input {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    left: 20px;
    background: white;
    width: 560px;
}

#ingredient-name {
    width: 200px;
}

.input-serving {
    width: 150px;
    height:35px;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
    background: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.remove {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: white;
    background: red;
    border: none;
    top: 2.5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#new-ingredient {
    position: relative;
    top: 50px;
    background: white;
}

#add-ingredient {
    position: relative;
    left: 20px;
    width: 525px;
    border-radius: 30px;
    color: white;
    text-align: center;
}

#brief {
    position: relative;
    top: 30px;
    left: 20px;
    width: 500px;
    background: none;
}

.scaled-ingredients {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 560px;
    height: 200px;
    left: 20px;
    border-radius: 30px;
    border-left: 4px solid purple;
    background: rgba(208, 191, 255, 0.5);
}

.scaled-recipe {
    position: relative;
    top: 20px;
    left: 20px;
    width: 300px;
    background: none;
}

#target-recipe-name {
    position: relative;
    background: none;
    top: 20px;
    left: 20px;
}

/*#new-ingredient {*/
/*    background: white;*/
/*    width: 560px;*/
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*    !*gap: 0.5rem;*!*/
/*}*/




